@using System.Reflection
@using Iris.Components.Navigation
@using Iris.Components
@using Iris.Components.Shared.Time
@using Iris.Desktop.Admin
@using Iris.Desktop.Brokers

@inherits LayoutComponentBase

    <div class="page">

                    <div class="sidebar" style="@IconMenuCssClass">
                        <IrisNavMenu ShowIconMenu="ToggleIconMenu"/>
                    </div>

        <main>
                    <div class="top-row px-4">
                                <MudBreadcrumbs Style="background-color:transparent;" Items="BreadcrumbService.Breadcrumbs"/>
                                <FlexSpacer/>
                                <DesktopAccountDropdown />
                    </div>
            <article class="content px-4">
                    @Body
            </article>
        </main>

        <div class="overlay"></div>

        <MudThemeProvider Theme="IrisTheme" IsDarkMode="true" DefaultScrollbar="false"/>
        <MudPopoverProvider/>
        <MudDialogProvider/>
        <MudSnackbarProvider/>
        <InitializeTimeZone />
    </div>
@code {
    [Inject]
    Iris.Components.Breadcrumbs.BreadcrumbService BreadcrumbService { get; set; } = default!;

    [Inject]
    IJSRuntime JSRuntime { get; set; } = default!;

    [Inject] AutoDiscovery AutoDiscovery { get; set; } = default!;

    [CascadingParameter(Name = "PageType")] public Type? PageType { get; set; }

    private bool _iconMenuActive { get; set; }

    private string? IconMenuCssClass => _iconMenuActive ? "width: 86px;" : null;

    protected static Version AppVersion => System.Reflection.Assembly.GetExecutingAssembly().GetName().Version ?? throw new NullReferenceException();

    private MudTheme IrisTheme = Theme.Iris;

    protected void ToggleIconMenu(bool iconMenuActive)
    {
        _iconMenuActive = iconMenuActive;
    }

    protected override void OnInitialized()
    {
        BreadcrumbService.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        BreadcrumbService.OnChange -= StateHasChanged;
    }
}