@using System.Reflection
@using Iris.Components.Navigation
@using Iris.Components
@using Iris.Components.NativeMenu
@using Iris.Components.NativeMenu.Consumers
@using Iris.Components.Shared.Time
@using Iris.Desktop.Admin
@using Iris.Desktop.Brokers

@inherits LayoutComponentBase

<MudThemeProvider Theme="IrisTheme" IsDarkMode="true" DefaultScrollbar="false"/>
<MudPopoverProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>
<DialogCommandProvider />
<NavigationCommandProvider />
<HistoryExportProvider />
<PackageUploadProvider />

<MudLayout Class="custom-title-bar-layout">
    <Hermes.Blazor.Components.HermesTitleBar Height="38">
        <div class="iris-title-bar-content">
            <MudText Typo="Typo.subtitle1" Class="no-drag app-header-font" Style="white-space:nowrap;">Iris</MudText>
            <div class="no-drag" style="flex:1;min-width:0;">
                <MudBreadcrumbs Style="background-color:transparent;" Items="BreadcrumbService.Breadcrumbs"/>
            </div>
            <div class="no-drag">
                <DesktopAccountDropdown />
            </div>
        </div>
    </Hermes.Blazor.Components.HermesTitleBar>
    <MudDrawer @bind-Open="@_drawerOpen" Variant="DrawerVariant.Mini" Style="overflow: hidden;">
        <IrisNavMenu ShowIconMenu="ToggleIconMenu"/>
    </MudDrawer>
    <MudMainContent Class="px-4">
        <article class="content">
            @Body
        </article>
    </MudMainContent>
    <NativeMenuDispatcher />
    <NativeMenuStateUpdater />
    <Iris.Desktop.NativeMenu.Consumers.ClearHistoryProvider />
    <InitializeTimeZone />
</MudLayout>
@code {
    [Inject]
    Iris.Components.Breadcrumbs.BreadcrumbService BreadcrumbService { get; set; } = default!;

    [Inject]
    IJSRuntime JSRuntime { get; set; } = default!;

    [Inject] AutoDiscovery AutoDiscovery { get; set; } = default!;

    private bool _drawerOpen = true;

    private MudTheme IrisTheme = Theme.Iris;

    protected void ToggleIconMenu(bool iconMenuActive)
    {
        _drawerOpen = !iconMenuActive;
    }

    protected override void OnInitialized()
    {
        BreadcrumbService.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        BreadcrumbService.OnChange -= StateHasChanged;
    }
}