@using Iris.Components.Subscriptions
<MudStack Class="pa-4" Spacing="1" Style="min-width:300px;">
    <AuthorizeView>
        <Authorized>
            <MudField Label="User" Variant="Variant.Text" Adornment="Adornment.End" AdornmentIcon="bi bi-person-fill">@context?.User?.Identity?.Name</MudField>
            <SubscriptionView Context="subscriptionContext">
                <Subscribed>
                    <MudField Label="Subscription" Variant="Variant.Text" Adornment="Adornment.End" AdornmentIcon="bi bi-person-badge-fill">@(subscriptionContext.Display)</MudField>
                </Subscribed>
            </SubscriptionView>
            <MudLink Href="/Logout">Logout</MudLink>
        </Authorized>
        <NotAuthorized>
            <MudLink Href="/Login">Login</MudLink>
            <MudLink Href="/Register">Register</MudLink>
        </NotAuthorized>
    </AuthorizeView>
    <PrimaryDivider/>
    <MudStack Row="true">
        <span class="text-muted" style="font-size:0.75em;">@($"Version {AppVersion.ToString()}")</span>
        <FlexSpacer/>
        <MudLink Target="_blank" Href="https://discord.gg/gQcBw2eHkM">
            <IconButton Name="@IrisIcons.Support" Title="Support"/>
        </MudLink>
        <IconButton Color="Color.Error" Class="icon-btn-danger" Name="@IrisIcons.Bug" Title="Report Bug" ButtonClicked="SubmitBugReportClicked"/>
    </MudStack>
</MudStack>



@code {
    protected static Version AppVersion => System.Reflection.Assembly.GetExecutingAssembly().GetName().Version ?? throw new NullReferenceException();

    [Parameter]
    public EventCallback SubmitBugReportClicked { get; set; } = default!;

}