@using Iris.Components.Subscriptions

<SubscriptionView>
    <Subscribed>
        <p>Valid Subscription</p>
    </Subscribed>
    <NotSubscribed>
        <p>No Subscription</p>
    </NotSubscribed>
</SubscriptionView>
