@inherits Iris.Components.Settings.Section
<p>test</p>
@code {
    public override string Name { get; init; } = "Simple";

    public override Type ComponentType { get; set; } = typeof(SimpleSection);
}
