@inherits DynamicTabView

<div>BasicDynamicTabView</div>

@code {
    public override string Name { get; set; } = "Basic";
    public override Type ComponentType { get; set; } = typeof(BasicDynamicTabView);
}