<div class="@($"lds-ellipsis {Class}")" style="@Style"><div></div><div></div><div></div><div></div></div>

@code {
    [Parameter] public string Class { get; set; } = "";

    [Parameter] public string Style { get; set; } = "";

}